Repository oakoss/ui: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint-md, lint, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm tsc-files {staged_files}
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --no-globs --fix {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm lint:fix
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

chore(repo): :hammer: move renovate config to github directory
  .github/renovate.json
Due: format

chore(deps): :hammer: bump dependencies
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: format

chore(config): configure renovate with monthly updates and best practices
  .github/renovate.json
Due: format

chore(repo): rename @repo namespace to @oakoss
  apps/docs/eslint.config.js
  apps/docs/package.json
  apps/docs/tsconfig.json
  packages/eslint-config/package.json
  packages/eslint-config/tsconfig.json
  packages/typescript-config/package.json
  pnpm-lock.yaml
  turbo.json
Due: lint, format

feat(ui): add shadcn-compatible component registry
  packages/ui/package.json
  packages/ui/public/r/react-aria-css-button.json
  packages/ui/public/r/react-aria-css-theme.json
  packages/ui/public/r/react-aria-css-utilities.json
  packages/ui/public/r/react-aria-tailwind-button.json
  packages/ui/public/r/react-aria-tailwind-utils.json
  packages/ui/public/r/registry.json
  packages/ui/scripts/build-registry.ts
  packages/ui/starters/css.d.ts
  packages/ui/starters/react-aria-css/registry.json
  packages/ui/starters/react-aria-css/src/components/ui/Button.css
  packages/ui/starters/react-aria-css/src/components/ui/Button.tsx
  packages/ui/starters/react-aria-css/src/components/ui/theme.css
  packages/ui/starters/react-aria-css/src/components/ui/utilities.css
  packages/ui/starters/react-aria-tailwind/registry.json
  packages/ui/starters/react-aria-tailwind/src/components/ui/Button.tsx
  packages/ui/starters/react-aria-tailwind/src/lib/utils.ts
  packages/ui/tsconfig.json
Due: typecheck, lint, format

fix(renovate): preserve caret prefix with rangeStrategy replace
  .github/renovate.json
  package.json
  pnpm-lock.yaml
Due: format

docs(openspec): add component registry proposal and update tasks
  openspec/changes/add-component-registry/design.md
  openspec/changes/add-component-registry/proposal.md
  openspec/changes/add-component-registry/specs/component-registry/spec.md
  openspec/changes/add-component-registry/tasks.md
  openspec/changes/register-namespace/proposal.md
  openspec/changes/register-namespace/specs/namespace-registration/spec.md
  openspec/changes/register-namespace/tasks.md
Due: lint-md, format

chore(config): replace tsc-files with turbo typecheck in pre-commit
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: format

chore(ui): add eslint configuration
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/public/r/react-aria-css-button.json
  packages/ui/public/r/react-aria-tailwind-button.json
  packages/ui/scripts/build-registry.ts
  packages/ui/starters/react-aria-css/src/components/ui/Button.tsx
  packages/ui/starters/react-aria-tailwind/src/components/ui/Button.tsx
  pnpm-lock.yaml
Due: typecheck, lint, format

chore(ui): format registry output with prettier
  packages/ui/package.json
  packages/ui/public/r/react-aria-css-button.json
  packages/ui/public/r/react-aria-tailwind-button.json
  pnpm-lock.yaml
Due: format

feat(ui): complete component registry proposal
  openspec/changes/add-component-registry/tasks.md
  packages/ui/README.md
  packages/ui/public/r/react-aria-tailwind-utils.json
  packages/ui/starters/react-aria-tailwind/registry.json
Due: lint-md, format

feat(ui): enhance Button with icons, loading state, and icon sizes
  packages/ui/public/r/react-aria-css-button.json
  packages/ui/public/r/react-aria-tailwind-button.json
  packages/ui/starters/react-aria-css/src/components/ui/Button.css
  packages/ui/starters/react-aria-css/src/components/ui/Button.tsx
  packages/ui/starters/react-aria-tailwind/src/components/ui/Button.tsx
Due: typecheck, lint, format

feat(ui): add Separator and ButtonGroup components
  packages/ui/public/r/react-aria-css-button-group.json
  packages/ui/public/r/react-aria-css-button.json
  packages/ui/public/r/react-aria-css-separator.json
  packages/ui/public/r/react-aria-tailwind-button-group.json
  packages/ui/public/r/react-aria-tailwind-button.json
  packages/ui/public/r/react-aria-tailwind-separator.json
  packages/ui/public/r/registry.json
  packages/ui/starters/react-aria-css/registry.json
  packages/ui/starters/react-aria-css/src/components/ui/ButtonGroup.css
  packages/ui/starters/react-aria-css/src/components/ui/ButtonGroup.tsx
  packages/ui/starters/react-aria-css/src/components/ui/Separator.css
  packages/ui/starters/react-aria-css/src/components/ui/Separator.tsx
  packages/ui/starters/react-aria-tailwind/registry.json
  packages/ui/starters/react-aria-tailwind/src/components/ui/ButtonGroup.tsx
  packages/ui/starters/react-aria-tailwind/src/components/ui/Separator.tsx
Due: typecheck, lint, format

chore(deps): update commitlint and globals
  package.json
  packages/eslint-config/package.json
  pnpm-lock.yaml
Due: format

style(docs): use sh instead of bash in code blocks
  AGENTS.md
  CLAUDE.md
  README.md
  apps/docs/README.md
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/test.mdx
  docs/react-aria-ui/ARCHITECTURE.md
  docs/react-aria-ui/DESIGN-SYSTEM.md
  docs/react-aria-ui/README.md
  docs/react-aria-ui/REGISTRY.md
  openspec/AGENTS.md
Due: lint-md, format

feat(ui): add Accordion component
  packages/ui/package.json
  packages/ui/public/r/react-aria-css-accordion.json
  packages/ui/public/r/react-aria-tailwind-accordion.json
  packages/ui/public/r/registry.json
  packages/ui/starters/react-aria-css/registry.json
  packages/ui/starters/react-aria-css/src/components/ui/Accordion.css
  packages/ui/starters/react-aria-css/src/components/ui/Accordion.tsx
  packages/ui/starters/react-aria-tailwind/registry.json
  packages/ui/starters/react-aria-tailwind/src/components/ui/Accordion.tsx
Due: typecheck, lint, format

feat(ui): add Icons abstraction layer
  packages/ui/public/r/react-aria-css-icons.json
  packages/ui/public/r/react-aria-tailwind-icons.json
  packages/ui/starters/react-aria-css/src/components/ui/icons.tsx
  packages/ui/starters/react-aria-tailwind/src/components/ui/icons.tsx
Due: typecheck, lint, format

feat(ui): add types/utils.ts with Prettify utility
  packages/ui/public/r/react-aria-css-types.json
  packages/ui/public/r/react-aria-tailwind-types.json
  packages/ui/starters/react-aria-css/src/types/utils.ts
  packages/ui/starters/react-aria-tailwind/src/types/utils.ts
Due: typecheck, lint, format

refactor(ui): use Primitive naming for headless imports
  packages/ui/public/r/react-aria-css-button-group.json
  packages/ui/public/r/react-aria-css-button.json
  packages/ui/public/r/react-aria-css-separator.json
  packages/ui/public/r/react-aria-tailwind-button-group.json
  packages/ui/public/r/react-aria-tailwind-button.json
  packages/ui/public/r/react-aria-tailwind-separator.json
  packages/ui/starters/react-aria-css/src/components/ui/Button.tsx
  packages/ui/starters/react-aria-css/src/components/ui/ButtonGroup.tsx
  packages/ui/starters/react-aria-css/src/components/ui/Separator.tsx
  packages/ui/starters/react-aria-tailwind/src/components/ui/Button.tsx
  packages/ui/starters/react-aria-tailwind/src/components/ui/ButtonGroup.tsx
  packages/ui/starters/react-aria-tailwind/src/components/ui/Separator.tsx
Due: typecheck, lint, format

style(ui): formatting improvements
  packages/ui/README.md
  packages/ui/eslint.config.js
Due: lint-md, lint, format

bd init: initialize beads issue tracking
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/interactions.jsonl
  .beads/metadata.json
  .claude/settings.json
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: lint-md, format

ci: bump actions/checkout, pnpm/action-setup, actions/setup-node to v6
  .github/workflows/ci.yml
Due: none

ci(deps): require 3-day release age before Renovate auto-merges
  .github/renovate.json
Due: format

ci: harden workflows and add CodeQL + dependency-review
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
Due: none

ci: extract setup and static-analysis composite actions
  .github/actions/setup/action.yml
  .github/actions/static-analysis/action.yml
  .github/workflows/ci.yml
Due: none

ci(deps): pin remaining actions to SHAs (codeql, dep-review, setup composite)
  .github/actions/setup/action.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
Due: none

ci: pin dependency-review-action to v5.0.0 (no floating v5 tag exists)
  .github/workflows/dependency-review.yml
Due: none

chore(deps): pin lodash >=4.17.24 and tmp >=0.2.4 via pnpm overrides
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(deps): replace commitizen with czg (zero deps, drops lodash chain)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

chore(deps): drop cz-git, use czg's defineConfig instead
  .commitlintrc.js
  package.json
  pnpm-lock.yaml
Due: lint, format

docs: rename adr/ to decisions/, drop ADR jargon
  .claude/skills/fix-issue/SKILL.md
  .github/CODEOWNERS
  .github/pull_request_template.md
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/adr/README.md
  docs/decisions/000-template.md
  docs/decisions/001-react-aria-components-as-primitive-layer.md
  docs/decisions/002-registry-led-hybrid-distribution.md
  docs/decisions/003-react-primary-defer-web-components.md
  docs/decisions/004-dtcg-tokens-with-terrazzo.md
  docs/decisions/005-visual-testing-with-chromatic.md
  docs/decisions/006-accessibility-testing-with-storybook-addon-a11y.md
  docs/decisions/007-fumadocs-on-nextjs-for-docs.md
  docs/decisions/008-ai-integration-shadcn-registry-and-mcp.md
  docs/decisions/README.md
  docs/glossary.md
  docs/research/architectural-standards.md
  docs/research/distribution-model.md
  docs/research/primitive-layer-evaluation.md
  docs/research/styling-layer-evaluation.md
  docs/research/tooling-evaluation.md
  docs/research/web-components-ecosystem.md
  docs/rfcs/_template.md
  docs/specs/README.md
  docs/specs/_template.md
Due: lint-md, format

docs: rename rfcs/ to proposals/, drop RFC jargon
  .claude/skills/fix-issue/SKILL.md
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/component.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/pull_request_template.md
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/glossary.md
  docs/governance/README.md
  docs/governance/labels.md
  docs/ideas/README.md
  docs/proposals/000-template.md
  docs/proposals/README.md
  docs/research/enterprise-design-system-references.md
  docs/rfcs/README.md
  docs/roadmap.md
Due: lint-md, format

chore(deps): downgrade oxlint/oxfmt to clear minimumReleaseAge policy
  package.json
  pnpm-lock.yaml
Due: format

docs(roadmap): fix stale adr/ link (caught by Copilot)
  docs/roadmap.md
Due: lint-md, format

docs: document PR review thread resolution workflow
  .claude/skills/fix-issue/SKILL.md
  AGENTS.md
  docs/CONTRIBUTING.md
Due: lint-md, format

docs(skill): drop redundant label-transition step (closes #N auto-closes the Issue)
  .claude/skills/fix-issue/SKILL.md
Due: lint-md, format

docs: fix GraphQL placeholder + pluralize 'proposals and roadmap repos' (Copilot)
  AGENTS.md
  docs/roadmap.md
Due: lint-md, format

docs: rename adr/ to decisions/ and rfcs/ to proposals/
  .claude/skills/fix-issue/SKILL.md
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/component.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/pull_request_template.md
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/adr/README.md
  docs/decisions/000-template.md
  docs/decisions/001-react-aria-components-as-primitive-layer.md
  docs/decisions/002-registry-led-hybrid-distribution.md
  docs/decisions/003-react-primary-defer-web-components.md
  docs/decisions/004-dtcg-tokens-with-terrazzo.md
  docs/decisions/005-visual-testing-with-chromatic.md
  docs/decisions/006-accessibility-testing-with-storybook-addon-a11y.md
  docs/decisions/007-fumadocs-on-nextjs-for-docs.md
  docs/decisions/008-ai-integration-shadcn-registry-and-mcp.md
  docs/decisions/README.md
  docs/glossary.md
  docs/governance/README.md
  docs/governance/labels.md
  docs/ideas/README.md
  docs/proposals/000-template.md
  docs/proposals/README.md
  docs/research/architectural-standards.md
  docs/research/distribution-model.md
  docs/research/enterprise-design-system-references.md
  docs/research/primitive-layer-evaluation.md
  docs/research/styling-layer-evaluation.md
  docs/research/tooling-evaluation.md
  docs/research/web-components-ecosystem.md
  docs/rfcs/README.md
  docs/roadmap.md
  docs/specs/README.md
  docs/specs/_template.md
  package.json
  pnpm-lock.yaml
Due: lint-md, format

ci: set up changesets for release management
  .changeset/README.md
  .changeset/config.json
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .markdownlint-cli2.mjs
  .npmrc
  .oxfmtrc.json
  AGENTS.md
  docs/CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: lint-md, lint, format
