Repository oakoss/ui: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint-md, lint, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm tsc-files {staged_files}
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --no-globs --fix {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm lint:fix
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

ci: address Copilot review on PR #7
  .github/workflows/release.yml
  AGENTS.md
  docs/CONTRIBUTING.md
Due: lint-md, format

docs: address PR review feedback (OIDC clarification, foundation-phase framing, comment audit)
  .changeset/README.md
  .github/workflows/release.yml
  .markdownlint-cli2.mjs
  AGENTS.md
  docs/CONTRIBUTING.md
Due: lint-md, lint, format

ci: explicit cancel-in-progress on release workflow (Copilot)
  .github/workflows/release.yml
Due: none

ci: set up changesets for release management
  .changeset/README.md
  .changeset/config.json
  .github/workflows/codeql.yml
  .github/workflows/release.yml
  .markdownlint-cli2.mjs
  .npmrc
  .oxfmtrc.json
  AGENTS.md
  docs/CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Due: lint-md, lint, format

chore(github): trim PR template to Summary + closes-link
  .github/pull_request_template.md
Due: lint-md, format

chore(github): make RAC primitive optional in component issue template
  .github/ISSUE_TEMPLATE/component.yml
Due: none

chore(github): template cleanup
  .github/ISSUE_TEMPLATE/component.yml
  .github/pull_request_template.md
Due: lint-md, format

docs(decisions): supersede 002 for tokens and themes (registry, not npm)
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/decisions/002-registry-led-hybrid-distribution.md
  docs/decisions/009-tokens-and-themes-via-registry.md
  docs/glossary.md
  docs/research/distribution-model.md
  docs/research/enterprise-design-system-references.md
  docs/research/styling-layer-evaluation.md
  docs/roadmap.md
Due: lint-md, format

docs(decisions): fix stale "decision 004 — TBD" reference in 009
  docs/decisions/009-tokens-and-themes-via-registry.md
Due: lint-md, format

docs(decisions): demote 005/006/007 to research notes; switch Fumadocs to TanStack Start
  README.md
  docs/decisions/007-fumadocs-on-nextjs-for-docs.md
  docs/decisions/README.md
  docs/research/accessibility-testing-with-storybook-addon-a11y.md
  docs/research/fumadocs-on-tanstack-start-for-docs.md
  docs/research/tooling-evaluation.md
  docs/research/visual-testing-with-chromatic.md
  docs/roadmap.md
Due: lint-md, format

docs(decisions): address Copilot feedback on PR #10
  docs/research/fumadocs-on-tanstack-start-for-docs.md
  docs/research/tooling-evaluation.md
Due: lint-md, format

docs(decisions): demote 005/006/007 to research; switch Fumadocs to TanStack Start
  README.md
  docs/decisions/007-fumadocs-on-nextjs-for-docs.md
  docs/decisions/README.md
  docs/research/accessibility-testing-with-storybook-addon-a11y.md
  docs/research/fumadocs-on-tanstack-start-for-docs.md
  docs/research/tooling-evaluation.md
  docs/research/visual-testing-with-chromatic.md
  docs/roadmap.md
Due: lint-md, format

docs(research): re-verify DTCG + Terrazzo claims for decision 004
  docs/research/architectural-standards.md
Due: lint-md, format

docs(research): add Tokens Studio DTCG round-trip verification
  docs/research/architectural-standards.md
Due: lint-md, format

chore(deps): catch up toolchain (oxfmt, oxlint, typescript, pnpm)
  package.json
  pnpm-lock.yaml
Due: format

docs(decisions): narrow decision 008 (registry half → distribution; tool surface → proposal)
  AGENTS.md
  README.md
  docs/decisions/008-ai-integration-shadcn-registry-and-mcp.md
  docs/decisions/010-mcp-server-narrowed-from-008.md
  docs/research/architectural-standards.md
Due: lint-md, format

docs(research): release strategy note (changesets + OIDC + pre-1.0 semver)
  docs/research/release-strategy.md
Due: lint-md, format

docs(decisions): lock styling layer (Tailwind v4 + tailwind-variants + better-tailwindcss)
  AGENTS.md
  README.md
  docs/decisions/009-tokens-and-themes-via-registry.md
  docs/decisions/011-styling-layer-tailwind-v4.md
  docs/research/styling-layer-evaluation.md
  docs/roadmap.md
Due: lint-md, format

docs(research): stylelint evaluation — defer
  docs/research/stylelint-evaluation.md
Due: lint-md, format

docs(research): correct Tailwind compiler scope (Copilot PR #16)
  docs/research/stylelint-evaluation.md
Due: lint-md, format

docs(agents): scaffold mattpocock/skills per-repo config
  AGENTS.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
Due: lint-md, format

ci(lefthook): run oxfmt on markdown in pre-commit
  docs/agents/triage-labels.md
  lefthook.yml
Due: lint-md, format

docs(agents): scaffold mattpocock/skills per-repo config (#17)
  AGENTS.md
  docs/agents/domain.md
  docs/agents/issue-tracker.md
  docs/agents/triage-labels.md
  lefthook.yml
Due: lint-md, format

docs(governance): adopt Issue Types and readiness labels
  .claude/skills/fix-issue/SKILL.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/component.yml
  .github/ISSUE_TEMPLATE/feature.yml
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/agents/triage-labels.md
  docs/glossary.md
  docs/governance/issue-types.md
  docs/governance/labels.md
Due: lint-md, format

docs(governance): adopt Issue Types and readiness labels (#18)
  .claude/skills/fix-issue/SKILL.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/component.yml
  .github/ISSUE_TEMPLATE/feature.yml
  AGENTS.md
  README.md
  docs/CONTRIBUTING.md
  docs/agents/triage-labels.md
  docs/glossary.md
  docs/governance/issue-types.md
  docs/governance/labels.md
Due: lint-md, format

docs(research): tokens & themes architecture exploration
  docs/research/tokens-and-themes-architecture.md
Due: lint-md, format

docs(research): fix invalid @media syntax in tokens/themes note
  docs/research/tokens-and-themes-architecture.md
Due: lint-md, format

docs(research): tokens & themes architecture exploration (#19)
  docs/research/tokens-and-themes-architecture.md
Due: lint-md, format

chore(repo): set up turborepo, vitest, shared tsconfig, and CI build/test/typecheck
  .github/actions/static-analysis/action.yml
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/tsconfig/base.json
  packages/tsconfig/node.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: format

chore(repo): set up turborepo, vitest, shared tsconfig, and CI build/test/typecheck (#20)
  .github/actions/static-analysis/action.yml
  .github/workflows/ci.yml
  .gitignore
  package.json
  packages/tsconfig/base.json
  packages/tsconfig/node.json
  packages/tsconfig/package.json
  packages/tsconfig/react-library.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Due: format

docs(governance): document the Projects v2 board and reconcile the status model
  .claude/skills/fix-issue/SKILL.md
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/agents/triage-labels.md
  docs/glossary.md
  docs/governance/README.md
  docs/governance/issue-types.md
  docs/governance/labels.md
  docs/governance/projects.md
Due: lint-md, format

docs(skills): set board Status to In Progress at implement-time
  .claude/skills/fix-issue/SKILL.md
Due: lint-md, format

docs(governance): document the Projects v2 board and reconcile the status model (#25)
  .claude/skills/fix-issue/SKILL.md
  AGENTS.md
  docs/CONTRIBUTING.md
  docs/agents/triage-labels.md
  docs/glossary.md
  docs/governance/README.md
  docs/governance/issue-types.md
  docs/governance/labels.md
  docs/governance/projects.md
Due: lint-md, format
