Repository oakoss/ui: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint-md, lint, format

typecheck:
  run: pnpm tsc-files {staged_files}

lint-md:
  run: pnpm markdownlint-cli2 --no-globs --fix {staged_files}
  stage_fixed: true

lint:
  run: pnpm lint:fix
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

test(docs): wait for hydration before interacting in e2e tests
  apps/docs/e2e/docs.spec.ts
  apps/docs/e2e/guides.spec.ts
  apps/docs/e2e/hydrated.ts
  apps/docs/src/routes/docs/$.tsx
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

test(docs): wait for hydration before interacting in e2e tests (#21)
  apps/docs/e2e/docs.spec.ts
  apps/docs/e2e/guides.spec.ts
  apps/docs/e2e/hydrated.ts
  apps/docs/src/routes/docs/$.tsx
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

chore(deps): update dependencies and adopt eslint-plugin-unicorn 77
  apps/docs/package.json
  apps/docs/src/lib/remark-component-docs.ts
  apps/docs/test/build.test.ts
  apps/storybook/package.json
  package.json
  packages/tokens/src/bundle.ts
  packages/tokens/src/cn-config.ts
  packages/tokens/src/contrast.test.ts
  packages/tokens/src/css.ts
  packages/tokens/src/families/base-colors.ts
  packages/tokens/src/families/tailwind-grays.ts
  packages/tokens/src/family.ts
  packages/tokens/src/index.ts
  packages/tokens/src/registry.ts
  packages/tokens/src/role-steps.ts
  packages/tokens/src/roles.ts
  packages/tokens/src/scale.ts
  packages/tokens/src/styles/vega.ts
  packages/tokens/src/theme.ts
  packages/tokens/src/typographies/default.ts
  packages/tokens/src/validate-scale.ts
  packages/tokens/src/validate.ts
  packages/ui/src/components/icon-placeholder.tsx
  packages/ui/src/components/icons.test.ts
  packages/ui/src/components/ui/inputs/field.tsx
  packages/ui/src/registry.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint-config/package.json
  tooling/eslint-config/src/base.ts
Due: typecheck, lint, format

chore(deps): update dependencies and adopt eslint-plugin-unicorn 77 (#22)
  apps/docs/package.json
  apps/docs/src/lib/remark-component-docs.ts
  apps/docs/test/build.test.ts
  apps/storybook/package.json
  package.json
  packages/tokens/src/bundle.ts
  packages/tokens/src/cn-config.ts
  packages/tokens/src/contrast.test.ts
  packages/tokens/src/css.ts
  packages/tokens/src/families/base-colors.ts
  packages/tokens/src/families/tailwind-grays.ts
  packages/tokens/src/family.ts
  packages/tokens/src/index.ts
  packages/tokens/src/registry.ts
  packages/tokens/src/role-steps.ts
  packages/tokens/src/roles.ts
  packages/tokens/src/scale.ts
  packages/tokens/src/styles/vega.ts
  packages/tokens/src/theme.ts
  packages/tokens/src/typographies/default.ts
  packages/tokens/src/validate-scale.ts
  packages/tokens/src/validate.ts
  packages/ui/src/components/icon-placeholder.tsx
  packages/ui/src/components/icons.test.ts
  packages/ui/src/components/ui/inputs/field.tsx
  packages/ui/src/registry.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint-config/package.json
  tooling/eslint-config/src/base.ts
Due: typecheck, lint, format

chore(tokens): drop dependency versions from comments
  AGENTS.md
  packages/tokens/src/color.ts
  packages/tokens/src/data.test.ts
  packages/tokens/src/families/tailwind-grays.ts
  packages/tokens/src/families/tailwind-scales.ts
  packages/tokens/src/typographies/default.ts
  tooling/oxlint-config/src/base.ts
Due: typecheck, lint-md, lint, format

chore(tokens): drop dependency versions from comments (#23)
  AGENTS.md
  packages/tokens/src/color.ts
  packages/tokens/src/data.test.ts
  packages/tokens/src/families/tailwind-grays.ts
  packages/tokens/src/families/tailwind-scales.ts
  packages/tokens/src/typographies/default.ts
  tooling/oxlint-config/src/base.ts
Due: typecheck, lint-md, lint, format

chore(tooling): replace Changesets with oakum
  .changeset/README.md
  .changeset/_config.toml
  .changeset/_schema.json
  .changeset/config.json
  .changeset/first-release.md
  .commitlintrc.js
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/oakum.yml
  AGENTS.md
  oxfmt.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint-md, lint, format

docs: add README and MIT license
  LICENSE
  README.md
  packages/ui/package.json
Due: lint-md, format

chore(tooling): replace Changesets with oakum and add release docs (#24)
  .changeset/README.md
  .changeset/_config.toml
  .changeset/_schema.json
  .changeset/config.json
  .changeset/first-release.md
  .commitlintrc.js
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/oakum.yml
  AGENTS.md
  LICENSE
  README.md
  oxfmt.config.ts
  package.json
  packages/ui/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint-md, lint, format

docs: record the component migration decisions
  docs/best-practices/components.md
  docs/best-practices/registry.md
  docs/research/0002-shadcn-aria-fork.md
Due: lint-md, format

docs: record the component migration decisions (#26)
  docs/best-practices/components.md
  docs/best-practices/registry.md
  docs/research/0002-shadcn-aria-fork.md
Due: lint-md, format

feat(components): let wrappers rename Button's data-slot
  apps/docs/content/docs/components/button.mdx
  packages/ui/src/components/ui/inputs/button.tsx
Due: typecheck, lint, format

feat(components): add Dialog
  .changeset/overlays.md
  apps/docs/content/docs/components/dialog.mdx
  apps/docs/e2e/overlays.spec.ts
  apps/docs/src/components/demos/dialog-controlled.tsx
  apps/docs/src/components/demos/dialog-demo.tsx
  apps/docs/src/components/demos/dialog-required-choice.tsx
  apps/storybook/src/overlays/dialog-demo.tsx
  apps/storybook/src/overlays/dialog-layout.stories.tsx
  apps/storybook/src/overlays/dialog.stories.tsx
  docs/best-practices/components.md
  docs/best-practices/registry.md
  docs/research/0002-shadcn-aria-fork.md
  packages/ui/registry.json
  packages/ui/src/components/ui/overlays/dialog.test.ts
  packages/ui/src/components/ui/overlays/dialog.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(components): add Dialog sizes and a scrolling DialogBody
  .changeset/overlays.md
  apps/docs/content/docs/components/dialog.mdx
  apps/docs/e2e/overlays.spec.ts
  apps/docs/src/components/demos/dialog-scrolling.tsx
  apps/docs/src/components/demos/dialog-sizes.tsx
  apps/storybook/src/overlays/dialog-demo.tsx
  apps/storybook/src/overlays/dialog-layout.stories.tsx
  apps/storybook/src/overlays/dialog-sizes.stories.tsx
  docs/best-practices/components.md
  packages/ui/registry.json
  packages/ui/src/components/ui/overlays/dialog.tsx
Due: typecheck, lint-md, lint, format

feat(components): add AlertDialog
  .changeset/overlays.md
  apps/docs/content/docs/components/alert-dialog.mdx
  apps/docs/src/components/demos/alert-dialog-async.tsx
  apps/docs/src/components/demos/alert-dialog-demo.tsx
  apps/docs/src/components/demos/alert-dialog-small.tsx
  apps/storybook/.storybook/preview.tsx
  apps/storybook/src/overlays/alert-dialog-actions.stories.tsx
  apps/storybook/src/overlays/alert-dialog-demo.tsx
  apps/storybook/src/overlays/alert-dialog-lifecycle.stories.tsx
  apps/storybook/src/overlays/alert-dialog.stories.tsx
  apps/storybook/src/overlays/dialog-demo.tsx
  packages/ui/registry.json
  packages/ui/src/components/ui/overlays/alert-dialog.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(components): add Sheet
  .changeset/overlays.md
  apps/docs/content/docs/components/sheet.mdx
  apps/docs/src/components/demos/sheet-demo.tsx
  apps/docs/src/components/demos/sheet-sides.tsx
  apps/docs/src/components/demos/sheet-sizes.tsx
  apps/storybook/src/overlays/sheet-demo.tsx
  apps/storybook/src/overlays/sheet-layout.stories.tsx
  apps/storybook/src/overlays/sheet.stories.tsx
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/overlays/sheet.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

test(components): check that overlays stay open past their exit
  apps/storybook/src/overlays/alert-dialog.stories.tsx
  apps/storybook/src/overlays/dialog-demo.tsx
  apps/storybook/src/overlays/dialog.stories.tsx
  apps/storybook/src/overlays/sheet.stories.tsx
Due: typecheck, lint, format

docs: record overlay test and tv slot conventions
  docs/best-practices/components.md
  docs/best-practices/testing.md
Due: lint-md, format

feat(tokens)!: reorder the z-index scale for popovers and tooltips
  .changeset/z-index-scale.md
  packages/tokens/src/z-index.test.ts
  packages/tokens/src/z-index.ts
  packages/ui/registry.json
  packages/ui/src/styles/theme.css
Due: typecheck, lint-md, lint, format

feat(components): add Popover
  .changeset/overlays.md
  apps/docs/content/docs/components/popover.mdx
  apps/docs/content/docs/installation.mdx
  apps/docs/src/components/demos/popover-arrow.tsx
  apps/docs/src/components/demos/popover-body.tsx
  apps/docs/src/components/demos/popover-demo.tsx
  apps/storybook/src/overlays/popover-demo.tsx
  apps/storybook/src/overlays/popover-layout.stories.tsx
  apps/storybook/src/overlays/popover-motion.stories.tsx
  apps/storybook/src/overlays/popover.stories.tsx
  docs/best-practices/components.md
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/overlays/popover.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(components): add Tooltip
  .changeset/overlays.md
  apps/docs/content/docs/components/tooltip.mdx
  apps/docs/src/components/demos/tooltip-demo.tsx
  apps/docs/src/components/demos/tooltip-focusable.tsx
  apps/docs/src/components/demos/tooltip-placement.tsx
  apps/storybook/src/overlays/tooltip-demo.tsx
  apps/storybook/src/overlays/tooltip-layout.stories.tsx
  apps/storybook/src/overlays/tooltip.stories.tsx
  docs/best-practices/testing.md
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/overlays/tooltip.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(components): add HoverCard
  .changeset/overlays.md
  apps/docs/content/docs/components/hover-card.mdx
  apps/docs/content/docs/components/popover.mdx
  apps/docs/src/components/demos/hover-card-arrow.tsx
  apps/docs/src/components/demos/hover-card-demo.tsx
  apps/docs/test/build.test.ts
  apps/storybook/src/overlays/hover-card-callbacks.stories.tsx
  apps/storybook/src/overlays/hover-card-demo.tsx
  apps/storybook/src/overlays/hover-card-disabled.stories.tsx
  apps/storybook/src/overlays/hover-card-props.stories.tsx
  apps/storybook/src/overlays/hover-card.stories.tsx
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/overlays/hover-card.test.ts
  packages/ui/src/components/ui/overlays/hover-card.tsx
  packages/ui/src/components/ui/overlays/popover.tsx
  packages/ui/src/lib/use-overlay-open.ts
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

fix(components): close an open Tooltip when its trigger is disabled
  apps/docs/content/docs/components/tooltip.mdx
  apps/storybook/src/overlays/tooltip.stories.tsx
  packages/ui/src/components/ui/overlays/tooltip.tsx
Due: typecheck, lint, format

feat(components): add Help and Info icons
  apps/docs/src/components/icon-resolver.tsx
  packages/ui/src/components/icons.tsx
Due: typecheck, lint, format

feat(components): add ContextualHelp
  .changeset/overlays.md
  apps/docs/content/docs/components/contextual-help.mdx
  apps/docs/content/docs/components/tooltip.mdx
  apps/docs/src/components/demos/contextual-help-demo.tsx
  apps/docs/src/components/demos/contextual-help-field.tsx
  apps/docs/src/components/demos/contextual-help-info.tsx
  apps/storybook/src/overlays/contextual-help.stories.tsx
  packages/ui/registry.json
  packages/ui/src/components/ui/overlays/contextual-help.tsx
Due: typecheck, lint-md, lint, format

test(components): share the overlay settle and state helpers
  apps/storybook/src/overlays/contextual-help.stories.tsx
  apps/storybook/src/overlays/dialog-layout.stories.tsx
  apps/storybook/src/overlays/dialog-sizes.stories.tsx
  apps/storybook/src/overlays/hover-card-demo.tsx
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/src/overlays/popover-demo.tsx
  apps/storybook/src/overlays/popover-motion.stories.tsx
  apps/storybook/src/overlays/popover.stories.tsx
  apps/storybook/src/overlays/sheet-demo.tsx
  apps/storybook/src/overlays/tooltip-demo.tsx
  apps/storybook/src/overlays/tooltip-layout.stories.tsx
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

fix(components): keep Tooltip's open state on TooltipTrigger
  apps/docs/content/docs/components/tooltip.mdx
  packages/ui/src/components/ui/overlays/tooltip.test.ts
  packages/ui/src/components/ui/overlays/tooltip.tsx
Due: typecheck, lint, format

refactor(components): build Popover and HoverCard on PopoverContent
  apps/docs/content/docs/components/hover-card.mdx
  apps/docs/content/docs/components/popover.mdx
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/overlays/hover-card.tsx
  packages/ui/src/components/ui/overlays/popover.tsx
Due: typecheck, lint, format

refactor(components): build Dialog and Sheet on DialogContent
  .changeset/overlays.md
  apps/docs/content/docs/components/dialog.mdx
  packages/ui/src/components/ui/overlays/alert-dialog.tsx
  packages/ui/src/components/ui/overlays/dialog.test.ts
  packages/ui/src/components/ui/overlays/dialog.tsx
  packages/ui/src/components/ui/overlays/sheet.tsx
Due: typecheck, lint-md, lint, format

fix(components): give AlertDialog and Sheet upstream's part names
  apps/docs/content/docs/components/alert-dialog.mdx
  apps/docs/content/docs/components/dialog.mdx
  apps/docs/content/docs/components/sheet.mdx
  apps/storybook/src/overlays/alert-dialog-actions.stories.tsx
  apps/storybook/src/overlays/alert-dialog-lifecycle.stories.tsx
  apps/storybook/src/overlays/alert-dialog.stories.tsx
  apps/storybook/src/overlays/dialog-demo.tsx
  apps/storybook/src/overlays/sheet-demo.tsx
  docs/best-practices/components.md
  packages/ui/src/components/ui/overlays/alert-dialog.tsx
  packages/ui/src/components/ui/overlays/dialog.tsx
  packages/ui/src/components/ui/overlays/sheet.tsx
Due: typecheck, lint-md, lint, format

test(components): stop two disable stories racing a slow runner
  apps/storybook/src/overlays/hover-card-callbacks.stories.tsx
  apps/storybook/src/overlays/tooltip.stories.tsx
Due: typecheck, lint, format

test(components): make hover stories independent of runner speed
  apps/storybook/src/overlays/hover-card-disabled.stories.tsx
  apps/storybook/src/overlays/hover-card-props.stories.tsx
  apps/storybook/src/overlays/hover-card.stories.tsx
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/src/overlays/tooltip-demo.tsx
  apps/storybook/src/overlays/tooltip.stories.tsx
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

test(components): run stories serially on CI and trace hover overlays
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/vitest.config.ts
  turbo.json
Due: typecheck, lint, format

test(components): trace hover state before the hover on CI
  apps/storybook/src/overlays/overlay-test.ts
Due: typecheck, lint, format

test(components): keep tooltip triggers off the real pointer
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/src/overlays/tooltip-demo.tsx
  apps/storybook/src/overlays/tooltip.stories.tsx
  apps/storybook/vitest.config.ts
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

test(components): retry stories once on CI and trace hover cards
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/vitest.config.ts
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

test(components): remove the hover trace
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/vitest.config.ts
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

test(components): probe the Flaky Tests job summary on CI
  .github/workflows/ci.yml
  apps/storybook/src/overlays/zz-flaky-probe.stories.tsx
Due: typecheck, lint, format

test(components): remove the Flaky Tests probe
  .github/workflows/ci.yml
  apps/storybook/src/overlays/zz-flaky-probe.stories.tsx
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint-md: any of: *.md
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
