Repository oakoss/ui: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint-md, lint, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm tsc-files {staged_files}
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --no-globs --fix {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm lint:fix
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

docs: capture monorepo-tooling rationale and stub the token-taxonomy proposal
  docs/proposals/001-token-taxonomy.md
  docs/research/monorepo-tooling.md
Due: lint-md, format

docs(proposals): point the epic #21 link at the issue, not the research note
  docs/proposals/001-token-taxonomy.md
Due: lint-md, format

docs: capture monorepo-tooling rationale and stub the token-taxonomy proposal (#26)
  docs/proposals/001-token-taxonomy.md
  docs/research/monorepo-tooling.md
Due: lint-md, format

docs(research): ratify testing & docs-site tooling
  README.md
  docs/accessibility/README.md
  docs/research/accessibility-testing-with-storybook-addon-a11y.md
  docs/research/fumadocs-on-tanstack-start-for-docs.md
  docs/research/release-strategy.md
  docs/research/tooling-evaluation.md
  docs/research/visual-regression-testing.md
  docs/research/visual-testing-with-chromatic.md
Due: lint-md, format

docs(research): align README a11y row and Playwright status with adopted stack
  README.md
  docs/research/tooling-evaluation.md
Due: lint-md, format

docs(research): ratify testing & docs-site tooling (#52)
  README.md
  docs/accessibility/README.md
  docs/research/accessibility-testing-with-storybook-addon-a11y.md
  docs/research/fumadocs-on-tanstack-start-for-docs.md
  docs/research/release-strategy.md
  docs/research/tooling-evaluation.md
  docs/research/visual-regression-testing.md
  docs/research/visual-testing-with-chromatic.md
Due: lint-md, format

chore(deps): bump commitlint & lefthook, pnpm 11.4 to 11.5
  package.json
  pnpm-lock.yaml
Due: format

chore(deps): bump commitlint & lefthook, pnpm 11.4 to 11.5 (#53)
  package.json
  pnpm-lock.yaml
Due: format

chore(tokens): scaffold @oakoss/tokens package skeleton
  packages/tokens/package.json
  pnpm-lock.yaml
Due: format

chore(tokens): address Copilot review
  packages/tokens/package.json
Due: format

chore(tokens): scaffold @oakoss/tokens package skeleton (#54)
  packages/tokens/package.json
  pnpm-lock.yaml
Due: format

feat(tokens): add Terrazzo pipeline, mauve ramp, CI assertion + README
  .github/workflows/ci.yml
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/src/mauve.tokens.json
  packages/tokens/tailwind.template.css
  packages/tokens/terrazzo.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-md, lint, format

fix(tokens): drop tailwindcss self-import; portable CI grep
  .github/workflows/ci.yml
  packages/tokens/tailwind.template.css
Due: none

feat(tokens): Terrazzo pipeline + Mauve ramp, CI assertion + README (#55)
  .github/workflows/ci.yml
  packages/tokens/README.md
  packages/tokens/package.json
  packages/tokens/src/mauve.tokens.json
  packages/tokens/tailwind.template.css
  packages/tokens/terrazzo.config.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint-md, lint, format

docs(proposals): flesh out token taxonomy (tiers, contract, conformance)
  docs/proposals/001-token-taxonomy.md
  docs/research/tokens-and-themes-architecture.md
Due: lint-md, format

docs(proposals): clarify --color-*: initial is Tailwind @theme syntax
  docs/proposals/001-token-taxonomy.md
Due: lint-md, format

docs(proposals): flesh out token taxonomy (tiers, contract, conformance) (#56)
  docs/proposals/001-token-taxonomy.md
  docs/research/tokens-and-themes-architecture.md
Due: lint-md, format

chore(tooling): scaffold lint, format, and commit toolchain
  .claude/settings.json
  .commitlintrc.js
  .editorconfig
  .gitignore
  .markdownlint-cli2.mjs
  .oxfmtrc.json
  .oxlintrc.json
  .vscode/settings.json
  AGENTS.md
  CLAUDE.md
  README.md
  docs/CONTRIBUTING.md
  docs/README.md
  eslint.config.js
  lefthook.yml
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: lint-md, lint, format

feat: scaffold @oakoss/ui component library (Button, Storybook, registry)
  .gitignore
  .oxfmtrc.json
  .oxlintrc.json
  .storybook/main.ts
  .storybook/preview.tsx
  chromatic.config.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  registry.json
  src/components/ui/inputs/button.stories.tsx
  src/components/ui/inputs/button.tsx
  src/css.d.ts
  src/lib/cx.ts
  src/styles/globals.css
  tsconfig.json
  vitest.config.ts
  vitest.shims.d.ts
Due: typecheck, lint, format

feat: registry build + changesets release setup
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
  public/r/button.json
  public/r/registry.json
  public/r/theme.json
Due: lint-md, format

feat: add TextField component
  public/r/registry.json
  public/r/text-field.json
  public/r/theme.json
  registry.json
  src/components/ui/inputs/text-field.stories.tsx
  src/components/ui/inputs/text-field.tsx
  src/styles/globals.css
Due: typecheck, lint, format

docs: design-system research (0001) + research template/index
  docs/research/0000-template.md
  docs/research/0001-design-system.md
  docs/research/README.md
Due: lint-md, format

chore(deps): upgrade dependencies, pnpm 12 and Node 26
  .changeset/config.json
  .oxlintrc.json
  eslint.config.js
  mise.toml
  package.json
  pnpm-lock.yaml
Due: lint, format

chore(tooling): replace eslint-plugin-jsx-a11y with oxlint strict
  .oxlintrc.json
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: lint, format

chore(tooling): move ESLint rules oxlint implements to oxlint
  .oxlintrc.json
  eslint.config.js
Due: lint, format

chore(tooling): move the remaining vitest rules to oxlint
  .oxlintrc.json
Due: format

chore(tooling): convert oxlint and oxfmt configs to TypeScript
  .oxfmtrc.json
  .oxlintrc.json
  .vscode/settings.json
  eslint.config.js
  lefthook.yml
  oxfmt.config.ts
  oxlint.config.ts
  tsconfig.json
Due: typecheck, lint, format

chore(tooling): drop redundant vitest rule entries
  oxlint.config.ts
Due: typecheck, lint, format

chore(tooling): exempt spec files from the dynamic-import ban
  eslint.config.js
Due: lint, format

chore(tooling): upgrade toolchain and move lint rules to oxlint (#1)
  .changeset/config.json
  .oxfmtrc.json
  .oxlintrc.json
  .vscode/settings.json
  eslint.config.js
  lefthook.yml
  mise.toml
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: typecheck, lint, format

chore(tooling): resolve #/ through tsconfig paths and add a unit test project
  .storybook/main.ts
  package.json
  src/lib/cx.test.ts
  tsconfig.json
  vitest.config.ts
Due: typecheck, lint, format

ci: add GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

fix(deps): pin pnpm exactly so pnpm/setup matches the lockfile
  package.json
  pnpm-lock.yaml
Due: format

ci: add GitHub Actions workflow and unit test project (#2)
  .github/workflows/ci.yml
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  src/lib/cx.test.ts
  tsconfig.json
  vitest.config.ts
Due: typecheck, lint, format

feat: serve the shadcn registry from GitHub source
  package.json
  public/r/button.json
  public/r/registry.json
  public/r/text-field.json
  public/r/theme.json
  registry.json
  src/registry.test.ts
Due: typecheck, lint, format

feat: serve the shadcn registry from GitHub source (#3)
  package.json
  public/r/button.json
  public/r/registry.json
  public/r/text-field.json
  public/r/theme.json
  registry.json
  src/registry.test.ts
Due: typecheck, lint, format

refactor(tooling): convert to a Turborepo + pnpm workspace
  .gitignore
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/chromatic.config.json
  apps/storybook/package.json
  apps/storybook/src/inputs/button.stories.tsx
  apps/storybook/src/inputs/text-field.stories.tsx
  apps/storybook/src/styles.css
  apps/storybook/tsconfig.json
  apps/storybook/vitest.config.ts
  apps/storybook/vitest.shims.d.ts
  eslint.config.js
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  packages/ui/package.json
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/button.tsx
  packages/ui/src/components/ui/inputs/text-field.tsx
  packages/ui/src/lib/cx.test.ts
  packages/ui/src/lib/cx.ts
  packages/ui/src/registry.test.ts
  packages/ui/src/styles/globals.css
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  registry.json
  src/css.d.ts
  src/registry.test.ts
  tsconfig.base.json
  tsconfig.json
  turbo.json
  vitest.config.ts
Due: typecheck, lint, format

ci: disable Turbo telemetry and require a test script in every package
  .github/workflows/ci.yml
Due: none

refactor(tooling): convert to a Turborepo + pnpm workspace (#4)
  .github/workflows/ci.yml
  .gitignore
  apps/storybook/.storybook/main.ts
  apps/storybook/.storybook/preview.tsx
  apps/storybook/chromatic.config.json
  apps/storybook/package.json
  apps/storybook/src/inputs/button.stories.tsx
  apps/storybook/src/inputs/text-field.stories.tsx
  apps/storybook/src/styles.css
  apps/storybook/tsconfig.json
  apps/storybook/vitest.config.ts
  apps/storybook/vitest.shims.d.ts
  eslint.config.js
  oxfmt.config.ts
  oxlint.config.ts
  package.json
  packages/ui/package.json
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/button.tsx
  packages/ui/src/components/ui/inputs/text-field.tsx
  packages/ui/src/lib/cx.test.ts
  packages/ui/src/lib/cx.ts
  packages/ui/src/registry.test.ts
  packages/ui/src/styles/globals.css
  packages/ui/tsconfig.json
  packages/ui/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  registry.json
  src/css.d.ts
  src/registry.test.ts
  tsconfig.base.json
  tsconfig.json
  turbo.json
  vitest.config.ts
Due: typecheck, lint, format

refactor(tooling): extract shared config into tooling packages
  .github/workflows/ci.yml
  .vscode/settings.json
  apps/storybook/eslint.config.js
  apps/storybook/oxlint.config.ts
  apps/storybook/package.json
  apps/storybook/tsconfig.json
  oxlint.config.ts
  package.json
  packages/ui/eslint.config.js
  packages/ui/oxlint.config.ts
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint-config/package.json
  tooling/eslint-config/src/base.ts
  tooling/eslint-config/src/oxlint.ts
  tooling/eslint-config/src/react.ts
  tooling/eslint-config/src/storybook.ts
  tooling/eslint-config/src/tailwind.ts
  tooling/eslint-config/src/vitest.ts
  tooling/eslint-config/tsconfig.json
  tooling/oxlint-config/package.json
  tooling/oxlint-config/src/base.ts
  tooling/oxlint-config/src/compose.test.ts
  tooling/oxlint-config/src/compose.ts
  tooling/oxlint-config/src/react.ts
  tooling/oxlint-config/src/vitest.ts
  tooling/oxlint-config/tsconfig.json
  tooling/tsconfig/base.json
  tooling/tsconfig/dom.json
  tooling/tsconfig/node.json
  tooling/tsconfig/package.json
  tooling/tsconfig/react.json
  tsconfig.json
  turbo.json
Due: typecheck, lint, format
