Repository oakoss/ui: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint-md, lint, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm tsc-files {staged_files}
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --no-globs --fix {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm lint:fix
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

ci: add a CI Summary job that gates on every other job
  .github/workflows/ci.yml
Due: none

refactor(tooling): extract shared config into tooling packages (#5)
  .github/workflows/ci.yml
  .vscode/settings.json
  apps/storybook/eslint.config.js
  apps/storybook/oxlint.config.ts
  apps/storybook/package.json
  apps/storybook/tsconfig.json
  oxlint.config.ts
  package.json
  packages/ui/eslint.config.js
  packages/ui/oxlint.config.ts
  packages/ui/package.json
  packages/ui/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint-config/package.json
  tooling/eslint-config/src/base.ts
  tooling/eslint-config/src/oxlint.ts
  tooling/eslint-config/src/react.ts
  tooling/eslint-config/src/storybook.ts
  tooling/eslint-config/src/tailwind.ts
  tooling/eslint-config/src/vitest.ts
  tooling/eslint-config/tsconfig.json
  tooling/oxlint-config/package.json
  tooling/oxlint-config/src/base.ts
  tooling/oxlint-config/src/compose.test.ts
  tooling/oxlint-config/src/compose.ts
  tooling/oxlint-config/src/react.ts
  tooling/oxlint-config/src/vitest.ts
  tooling/oxlint-config/tsconfig.json
  tooling/tsconfig/base.json
  tooling/tsconfig/dom.json
  tooling/tsconfig/node.json
  tooling/tsconfig/package.json
  tooling/tsconfig/react.json
  tsconfig.json
  turbo.json
Due: typecheck, lint, format

docs(docs): record the decision to fork shadcn's React Aria base
  docs/research/0001-design-system.md
  docs/research/0002-shadcn-aria-fork.md
  docs/research/README.md
Due: lint-md, format

docs(docs): record the switch to the cn package for class merging
  docs/research/0002-shadcn-aria-fork.md
Due: lint-md, format

chore(tooling): set up beads task tracking
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .gitignore
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
Due: typecheck, lint-md, lint, format

docs: record the shadcn React Aria fork decision (#6)
  docs/research/0001-design-system.md
  docs/research/0002-shadcn-aria-fork.md
  docs/research/README.md
Due: lint-md, format

chore: set up beads task tracking (#7)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .gitignore
  AGENTS.md
  lefthook.yml
  oxfmt.config.ts
  package.json
Due: typecheck, lint-md, lint, format

refactor(docs): simplify site helpers, prop filter and demo wiring
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  apps/docs/content/docs/components/button.mdx
  apps/docs/content/docs/components/text-field.mdx
  apps/docs/src/components/layout.tsx
  apps/docs/src/components/mdx.tsx
  apps/docs/src/components/own-props-table.tsx
  apps/docs/src/lib/props.ts
  apps/docs/src/lib/shared.ts
  apps/docs/src/lib/site.ts
  apps/docs/src/lib/source.ts
  apps/docs/src/routes/__root.tsx
  apps/docs/src/routes/docs/$.tsx
  apps/docs/src/routes/docs/{$}[.]md.ts
  apps/docs/src/routes/index.tsx
  apps/docs/test/build.test.ts
  apps/docs/test/lib.test.ts
Due: typecheck, lint, format

chore(tooling): adopt TanStack Intent skill loading
  AGENTS.md
  package.json
  pnpm-lock.yaml
Due: lint-md, format

test(docs): add Playwright browser tests and fix the hydrated 404
  apps/docs/.gitignore
  apps/docs/e2e/docs.spec.ts
  apps/docs/e2e/serve.ts
  apps/docs/package.json
  apps/docs/playwright.config.ts
  apps/docs/src/routes/docs/$.tsx
  apps/docs/tsconfig.json
  pnpm-lock.yaml
Due: typecheck, lint, format

ci(ci): replace CodeQL default setup with an advanced workflow
  .github/workflows/codeql.yml
Due: none

docs: add research note 0003 on docs site inspiration
  docs/research/0003-docs-site-inspiration.md
  docs/research/README.md
Due: lint-md, format

docs: add a second research round to note 0003
  docs/research/0003-docs-site-inspiration.md
  docs/research/README.md
Due: lint-md, format

fix(docs): keep the sidebar at its own width on wide screens
  apps/docs/e2e/docs.spec.ts
  apps/docs/src/styles/app.css
Due: typecheck, lint, format

feat(docs): add the oakoss favicon
  apps/docs/public/apple-touch-icon.png
  apps/docs/public/favicon.ico
  apps/docs/public/favicon.svg
  apps/docs/src/routes/__root.tsx
  apps/docs/test/build.test.ts
Due: typecheck, lint, format

feat(docs): lighten the favicon leaf in dark mode
  apps/docs/public/favicon.svg
Due: none

docs: record the beads filed from note 0003
  docs/research/0003-docs-site-inspiration.md
  docs/research/README.md
Due: lint-md, format

docs: add research note 0003 on docs site inspiration (#9)
  docs/research/0003-docs-site-inspiration.md
  docs/research/README.md
Due: lint-md, format

fix(docs): keep the sidebar at its own width and add a favicon (#10)
  apps/docs/e2e/docs.spec.ts
  apps/docs/public/apple-touch-icon.png
  apps/docs/public/favicon.ico
  apps/docs/public/favicon.svg
  apps/docs/src/routes/__root.tsx
  apps/docs/src/styles/app.css
  apps/docs/test/build.test.ts
Due: typecheck, lint, format

chore: add Renovate to keep pinned actions and dependencies current
  .github/renovate.json
Due: format

chore: hold Renovate updates for 2 days instead of 3
  .github/renovate.json
Due: format

chore: add Renovate to keep pinned actions and dependencies current (#11)
  .github/renovate.json
Due: format

docs: add research note 0004 on the token data model
  docs/research/0004-token-model-research.md
  docs/research/README.md
Due: lint-md, format

docs: record the token model decisions in note 0004
  docs/research/0004-token-model-research.md
Due: lint-md, format

feat(tokens): define the token data model
  docs/research/0004-token-model-research.md
  packages/tokens/eslint.config.js
  packages/tokens/oxlint.config.ts
  packages/tokens/package.json
  packages/tokens/src/__snapshots__/data.test.ts.snap
  packages/tokens/src/color.test.ts
  packages/tokens/src/color.ts
  packages/tokens/src/data.test.ts
  packages/tokens/src/families/neutral.ts
  packages/tokens/src/families/tailwind-scales.ts
  packages/tokens/src/family.ts
  packages/tokens/src/index.ts
  packages/tokens/src/meta.ts
  packages/tokens/src/resolve.ts
  packages/tokens/src/roles.ts
  packages/tokens/src/scale.ts
  packages/tokens/src/style.ts
  packages/tokens/src/styles/vega.ts
  packages/tokens/src/testing.ts
  packages/tokens/src/typographies/default.ts
  packages/tokens/src/typography.ts
  packages/tokens/src/validate-axes.ts
  packages/tokens/src/validate-scales.test.ts
  packages/tokens/src/validate.test.ts
  packages/tokens/src/validate.ts
  packages/tokens/src/z-index.ts
  packages/tokens/tsconfig.json
  packages/tokens/vitest.config.ts
  pnpm-lock.yaml
Due: typecheck, lint-md, lint, format

docs(tokens): name the Tailwind variables each TextStyle field maps to
  packages/tokens/src/typography.ts
Due: typecheck, lint, format

feat(tokens): add shadcn's seven base colors with Zinc as the default
  packages/tokens/src/__snapshots__/data.test.ts.snap
  packages/tokens/src/data.test.ts
  packages/tokens/src/families/base-colors.ts
  packages/tokens/src/families/neutral.ts
  packages/tokens/src/families/tailwind-grays.ts
  packages/tokens/src/families/tailwind-scales.ts
  packages/tokens/src/index.ts
  packages/tokens/src/scale.ts
  packages/tokens/src/testing.ts
Due: typecheck, lint, format

fix(tooling): stop requiring Number.NaN, which ESLint rejects
  packages/tokens/src/color.test.ts
  packages/tokens/src/validate.test.ts
  tooling/oxlint-config/src/base.ts
Due: typecheck, lint, format

feat(tokens): define the token data model with shadcn's base colors (#13)
  docs/research/0004-token-model-research.md
  docs/research/README.md
  packages/tokens/eslint.config.js
  packages/tokens/oxlint.config.ts
  packages/tokens/package.json
  packages/tokens/src/__snapshots__/data.test.ts.snap
  packages/tokens/src/color.test.ts
  packages/tokens/src/color.ts
  packages/tokens/src/data.test.ts
  packages/tokens/src/families/base-colors.ts
  packages/tokens/src/families/tailwind-grays.ts
  packages/tokens/src/families/tailwind-scales.ts
  packages/tokens/src/family.ts
  packages/tokens/src/index.ts
  packages/tokens/src/meta.ts
  packages/tokens/src/resolve.ts
  packages/tokens/src/roles.ts
  packages/tokens/src/scale.ts
  packages/tokens/src/style.ts
  packages/tokens/src/styles/vega.ts
  packages/tokens/src/testing.ts
  packages/tokens/src/typographies/default.ts
  packages/tokens/src/typography.ts
  packages/tokens/src/validate-axes.ts
  packages/tokens/src/validate-scales.test.ts
  packages/tokens/src/validate.test.ts
  packages/tokens/src/validate.ts
  packages/tokens/src/z-index.ts
  packages/tokens/tsconfig.json
  packages/tokens/vitest.config.ts
  pnpm-lock.yaml
  tooling/oxlint-config/src/base.ts
Due: typecheck, lint-md, lint, format

refactor(tokens): extract color-path parsing for reuse by the generator
  packages/tokens/src/color-path.ts
  packages/tokens/src/validate.ts
Due: typecheck, lint, format

feat(tokens): give authored scales a starting step per mode
  packages/tokens/src/families/tailwind-grays.ts
  packages/tokens/src/families/tailwind-scales.ts
  packages/tokens/src/scale.ts
  packages/tokens/src/validate-scales.test.ts
  packages/tokens/src/validate.ts
Due: typecheck, lint, format

feat(tokens): pick intent role steps by contrast
  packages/tokens/package.json
  packages/tokens/src/contrast.ts
  packages/tokens/src/role-steps.test.ts
  packages/tokens/src/role-steps.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint, format

fix(tokens): validate untyped token data instead of throwing
  packages/tokens/src/color.test.ts
  packages/tokens/src/color.ts
  packages/tokens/src/resolve.ts
  packages/tokens/src/role-steps.ts
  packages/tokens/src/scale.ts
  packages/tokens/src/validate-scale.ts
  packages/tokens/src/validate-untyped.test.ts
  packages/tokens/src/validate.ts
Due: typecheck, lint, format

feat(tokens): resolve a family flavor into color tokens
  packages/tokens/src/theme.test.ts
  packages/tokens/src/theme.ts
Due: typecheck, lint, format

fix(tokens): darken light muted-foreground to pass WCAG AA
  packages/tokens/src/__snapshots__/data.test.ts.snap
  packages/tokens/src/families/base-colors.ts
Due: typecheck, lint, format

test(tokens): check WCAG 2.2 AA contrast across every theme
  packages/tokens/src/contrast.test.ts
Due: typecheck, lint, format

feat(tokens): generate theme CSS and the registry theme item
  .github/workflows/ci.yml
  packages/tokens/package.json
  packages/tokens/src/bundle.ts
  packages/tokens/src/css.test.ts
  packages/tokens/src/css.ts
  packages/tokens/src/generate.ts
  packages/tokens/src/registry.ts
  packages/ui/package.json
  packages/ui/registry.json
  packages/ui/src/styles/globals.css
  packages/ui/src/styles/theme.css
  packages/ui/src/styles/themes.css
Due: typecheck, lint, format

docs: record the ui-2mi.2 decisions in note 0004
  docs/research/0004-token-model-research.md
Due: lint-md, format
