Repository oakoss/ui: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint-md, lint, format

typecheck:
  run: pnpm tsc-files {staged_files}

lint-md:
  run: pnpm markdownlint-cli2 --no-globs --fix {staged_files}
  stage_fixed: true

lint:
  run: pnpm lint:fix
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

feat(tokens): generate theme CSS, the theme bundle and the registry theme (#14)
  .github/workflows/ci.yml
  docs/research/0004-token-model-research.md
  packages/tokens/package.json
  packages/tokens/src/__snapshots__/data.test.ts.snap
  packages/tokens/src/bundle.ts
  packages/tokens/src/color-path.ts
  packages/tokens/src/color.test.ts
  packages/tokens/src/color.ts
  packages/tokens/src/contrast.test.ts
  packages/tokens/src/contrast.ts
  packages/tokens/src/css.test.ts
  packages/tokens/src/css.ts
  packages/tokens/src/families/base-colors.ts
  packages/tokens/src/families/tailwind-grays.ts
  packages/tokens/src/families/tailwind-scales.ts
  packages/tokens/src/generate.ts
  packages/tokens/src/registry.ts
  packages/tokens/src/resolve.ts
  packages/tokens/src/role-steps.test.ts
  packages/tokens/src/role-steps.ts
  packages/tokens/src/scale.ts
  packages/tokens/src/theme.test.ts
  packages/tokens/src/theme.ts
  packages/tokens/src/validate-scale.ts
  packages/tokens/src/validate-scales.test.ts
  packages/tokens/src/validate-untyped.test.ts
  packages/tokens/src/validate.ts
  packages/ui/package.json
  packages/ui/registry.json
  packages/ui/src/styles/globals.css
  packages/ui/src/styles/theme.css
  packages/ui/src/styles/themes.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint-md, lint, format

feat(tokens): generate the cn merge config from the token data
  packages/tokens/package.json
  packages/tokens/src/cn-config.test.ts
  packages/tokens/src/cn-config.ts
  packages/tokens/src/generate.ts
  packages/ui/src/lib/cn-config.test.ts
  packages/ui/src/lib/cn-config.ts
Due: typecheck, lint, format

feat(utils): merge classes with a cn instance that knows our tokens
  apps/storybook/src/inputs/button.stories.tsx
  apps/storybook/src/inputs/text-field.stories.tsx
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/button.tsx
  packages/ui/src/components/ui/inputs/text-field.tsx
  packages/ui/src/lib/cx.test.ts
  packages/ui/src/lib/cx.ts
  packages/ui/src/registry.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/eslint-config/src/base.ts
Due: typecheck, lint, format

feat(a11y): add the focus-ring and target-size recipes
  apps/storybook/src/inputs/button.stories.tsx
  apps/storybook/src/inputs/text-field.stories.tsx
  docs/research/0004-token-model-research.md
  packages/tokens/src/__snapshots__/data.test.ts.snap
  packages/tokens/src/meta.ts
  packages/tokens/src/roles.ts
  packages/tokens/src/styles/vega.ts
  packages/tokens/src/theme.test.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/button.tsx
  packages/ui/src/components/ui/inputs/text-field.tsx
  packages/ui/src/lib/recipes.ts
  packages/ui/src/styles/theme.css
  packages/ui/src/styles/themes.css
Due: typecheck, lint-md, lint, format

feat(a11y): add the accessibility base layer
  packages/tokens/src/bundle.ts
  packages/tokens/src/css.test.ts
  packages/ui/src/styles/base.css
  packages/ui/src/styles/globals.css
  packages/ui/src/styles/themes.css
Due: typecheck, lint, format

test(a11y): fail story runs on accessibility violations, in both themes
  apps/storybook/.storybook/preview.tsx
  apps/storybook/src/inputs/button.stories.tsx
  apps/storybook/vitest.config.ts
  apps/storybook/vitest.shims.d.ts
  packages/ui/src/components/ui/inputs/text-field.tsx
Due: typecheck, lint, format

feat(a11y): lint for logical properties and add a locale toolbar
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/src/inputs/button.stories.tsx
  apps/storybook/src/inputs/text-field.stories.tsx
  pnpm-lock.yaml
  tooling/eslint-config/src/tailwind.ts
Due: typecheck, lint, format

chore(tooling): lint Tailwind classes against the theme with @shadcn/lint
  apps/storybook/oxlint.config.ts
  packages/ui/oxlint.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tooling/oxlint-config/package.json
  tooling/oxlint-config/src/tailwind.ts
Due: typecheck, lint, format

feat(components): add icons that shadcn swaps per icon library
  .vscode/settings.json
  apps/docs/package.json
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/src/foundations/icons.stories.tsx
  docs/research/0002-shadcn-aria-fork.md
  package.json
  packages/ui/eslint.config.js
  packages/ui/package.json
  packages/ui/src/components/icon-placeholder.tsx
  packages/ui/src/components/icons.test.ts
  packages/ui/src/components/icons.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint-md, lint, format

chore(tooling): lint commit footers locally and in CI
  .commitlintrc.js
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
Due: lint, format

chore(tooling): spell the UTF-8 encoding utf-8 everywhere
  apps/docs/src/routes/__root.tsx
  apps/docs/test/build.test.ts
  packages/tokens/src/data.test.ts
  packages/tokens/src/generate.ts
  packages/ui/src/components/icons.test.ts
  packages/ui/src/lib/cn-config.test.ts
  packages/ui/src/registry.test.ts
  tooling/oxlint-config/src/base.ts
Due: typecheck, lint, format

refactor(tests): transform each icon library once and parse its imports
  packages/ui/src/components/icons.test.ts
Due: typecheck, lint, format

ci: read the PR title when the commitlint job runs
  .github/workflows/ci.yml
Due: none

test(tests): catch destructured and parameter names in the icon clash check
  packages/ui/src/components/icons.test.ts
Due: typecheck, lint, format

test(tokens): check that hover changes stay visible in every theme
  packages/tokens/src/contrast.ts
  packages/tokens/src/distinct.test.ts
  packages/tokens/src/index.ts
  packages/tokens/src/roles.ts
Due: typecheck, lint, format

chore(tooling): let Button set its color variables to theme tokens
  packages/ui/oxlint.config.ts
  packages/ui/src/lint-config.test.ts
Due: typecheck, lint, format

feat(tokens): keep intent text readable under hover and press layers
  docs/research/0004-token-model-research.md
  packages/tokens/src/__snapshots__/data.test.ts.snap
  packages/tokens/src/contrast.test.ts
  packages/tokens/src/contrast.ts
  packages/tokens/src/data.test.ts
  packages/tokens/src/distinct.test.ts
  packages/tokens/src/index.ts
  packages/tokens/src/role-steps.test.ts
  packages/tokens/src/role-steps.ts
  packages/tokens/src/roles.ts
  packages/ui/registry.json
  packages/ui/src/styles/theme.css
  packages/ui/src/styles/themes.css
Due: typecheck, lint-md, lint, format

feat(components): convert Button to looks, intents and state layers
  apps/docs/content/docs/components/button.mdx
  apps/docs/src/components/demos/button-demo.tsx
  apps/storybook/.storybook/preview.tsx
  apps/storybook/oxlint.config.ts
  apps/storybook/src/inputs/button-states.stories.tsx
  apps/storybook/src/inputs/button-variants.stories.tsx
  apps/storybook/src/inputs/button.stories.tsx
  apps/storybook/src/styles.css
  apps/storybook/vitest.config.ts
  docs/research/0002-shadcn-aria-fork.md
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/button.test.ts
  packages/ui/src/components/ui/inputs/button.tsx
  packages/ui/src/lib/recipes.ts
  packages/ui/src/lint-config.test.ts
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

test(tests): derive palette toolbars from tokens and test the label gap
  apps/storybook/.storybook/preview.tsx
  apps/storybook/package.json
  apps/storybook/src/inputs/button.stories.tsx
  packages/tokens/src/bundle.ts
  packages/tokens/src/css.test.ts
  packages/tokens/src/index.ts
  pnpm-lock.yaml
Due: typecheck, lint, format

fix(utils): reject uncalled tv slots in cn
  packages/ui/src/lib/cx.test.ts
  packages/ui/src/lib/cx.ts
Due: typecheck, lint, format

feat(tokens): give form-control borders 3:1 contrast in every theme
  docs/research/0004-token-model-research.md
  packages/tokens/src/__snapshots__/data.test.ts.snap
  packages/tokens/src/contrast.test.ts
  packages/tokens/src/css.test.ts
  packages/tokens/src/families/base-colors.ts
  packages/tokens/src/roles.ts
  packages/tokens/src/styles/vega.ts
  packages/ui/registry.json
  packages/ui/src/styles/theme.css
  packages/ui/src/styles/themes.css
Due: typecheck, lint-md, lint, format

feat(components): convert TextField on shared React Aria field parts
  AGENTS.md
  apps/docs/content/docs/components/field.mdx
  apps/docs/content/docs/components/text-field.mdx
  apps/docs/test/build.test.ts
  apps/storybook/src/inputs/field.stories.tsx
  apps/storybook/src/inputs/text-field.stories.tsx
  docs/best-practices.md
  docs/research/0002-shadcn-aria-fork.md
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/field.tsx
  packages/ui/src/components/ui/inputs/text-field.test.ts
  packages/ui/src/components/ui/inputs/text-field.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

docs: move component rationale from shipped files to best practices
  docs/best-practices.md
  packages/ui/src/components/icon-placeholder.tsx
  packages/ui/src/components/icons.tsx
  packages/ui/src/components/ui/inputs/button.tsx
  packages/ui/src/lib/cx.ts
  packages/ui/src/lib/recipes.ts
Due: typecheck, lint-md, lint, format

docs: add a TanStack Form recipe with a live, tested demo
  apps/docs/content/docs/components/text-field.mdx
  apps/docs/content/docs/forms/tanstack-form.mdx
  apps/docs/e2e/forms.spec.ts
  apps/docs/package.json
  apps/docs/src/components/demos/tanstack-form-demo.tsx
  pnpm-lock.yaml
Due: typecheck, lint, format

chore(tooling): flag hardcoded user-facing text in components
  docs/best-practices.md
  packages/ui/eslint.config.js
  packages/ui/src/eslint-config.test.ts
Due: typecheck, lint-md, lint, format

docs: split best practices by task
  AGENTS.md
  docs/best-practices/components.md
  docs/best-practices/registry.md
  docs/best-practices/testing.md
  docs/research/0002-shadcn-aria-fork.md
Due: lint-md, format

docs: add a Localization guide and a Guides section
  apps/docs/content/docs/components/button.mdx
  apps/docs/content/docs/components/text-field.mdx
  apps/docs/content/docs/guides/localization.mdx
  apps/docs/content/docs/guides/tanstack-form.mdx
  apps/docs/e2e/guides.spec.ts
  apps/docs/package.json
  apps/docs/src/components/demos/localization-demo.tsx
  apps/docs/vite.config.ts
  pnpm-lock.yaml
Due: typecheck, lint, format

test(tests): load the ESLint config before the string-rule cases run
  packages/ui/src/eslint-config.test.ts
Due: typecheck, lint, format

test(tests): keep Button stories independent of the browser's pointer
  apps/storybook/src/inputs/button-variants.stories.tsx
  apps/storybook/src/inputs/button.stories.tsx
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

test(tests): wait for React Aria's hover and press state before reading
  apps/storybook/src/inputs/button-variants.stories.tsx
Due: typecheck, lint, format

test(tests): check Button state styles by setting React Aria's attributes
  apps/storybook/src/inputs/button-variants.stories.tsx
  apps/storybook/src/inputs/button.stories.tsx
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

feat(components): add the oakoss/ui/base registry item
  docs/best-practices/registry.md
  docs/research/0002-shadcn-aria-fork.md
  packages/ui/registry.json
  packages/ui/src/components/icon-placeholder.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(docs): add the component page template
  AGENTS.md
  apps/docs/content/docs/components/button.mdx
  apps/docs/content/docs/components/field.mdx
  apps/docs/content/docs/components/text-field.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/installation.mdx
  apps/docs/e2e/docs.spec.ts
  apps/docs/oxlint.config.ts
  apps/docs/source.config.ts
  apps/docs/src/components/demos/button-custom-colors.tsx
  apps/docs/src/components/demos/button-demo.tsx
  apps/docs/src/components/demos/button-icon-only.tsx
  apps/docs/src/components/demos/button-links.tsx
  apps/docs/src/components/demos/button-pending.tsx
  apps/docs/src/components/demos/button-variants.tsx
  apps/docs/src/components/demos/field-demo.tsx
  apps/docs/src/components/demos/field-errors.tsx
  apps/docs/src/components/demos/field-input-sizes.tsx
  apps/docs/src/components/demos/field-layout.tsx
  apps/docs/src/components/demos/text-field-custom-layout.tsx
  apps/docs/src/components/demos/text-field-demo.tsx
  apps/docs/src/components/demos/text-field-sizes.tsx
  apps/docs/src/components/demos/text-field-validation.tsx
  apps/docs/src/components/icon-resolver.tsx
  apps/docs/src/components/mdx.tsx
  apps/docs/src/lib/manual-sources.ts
  apps/docs/src/lib/registry.ts
  apps/docs/src/lib/remark-component-docs.ts
  apps/docs/src/lib/source.ts
  apps/docs/src/routes/__root.tsx
  apps/docs/src/routes/docs/$.tsx
  apps/docs/test/build.test.ts
  apps/docs/test/icons.test.ts
  docs/best-practices/docs-pages.md
  packages/ui/package.json
Due: typecheck, lint-md, lint, format

docs: set up existing projects with shadcn add, not apply
  apps/docs/content/docs/installation.mdx
  docs/best-practices/registry.md
  docs/research/0002-shadcn-aria-fork.md
  packages/ui/registry.json
  packages/ui/src/components/icon-placeholder.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

test(docs): save the package-manager choice before leaving the page
  apps/docs/e2e/docs.spec.ts
Due: typecheck, lint, format

feat(components): add the base registry item and the component page template (#18)
  AGENTS.md
  apps/docs/content/docs/components/button.mdx
  apps/docs/content/docs/components/field.mdx
  apps/docs/content/docs/components/text-field.mdx
  apps/docs/content/docs/index.mdx
  apps/docs/content/docs/installation.mdx
  apps/docs/e2e/docs.spec.ts
  apps/docs/oxlint.config.ts
  apps/docs/source.config.ts
  apps/docs/src/components/demos/button-custom-colors.tsx
  apps/docs/src/components/demos/button-demo.tsx
  apps/docs/src/components/demos/button-icon-only.tsx
  apps/docs/src/components/demos/button-links.tsx
  apps/docs/src/components/demos/button-pending.tsx
  apps/docs/src/components/demos/button-variants.tsx
  apps/docs/src/components/demos/field-demo.tsx
  apps/docs/src/components/demos/field-errors.tsx
  apps/docs/src/components/demos/field-input-sizes.tsx
  apps/docs/src/components/demos/field-layout.tsx
  apps/docs/src/components/demos/text-field-custom-layout.tsx
  apps/docs/src/components/demos/text-field-demo.tsx
  apps/docs/src/components/demos/text-field-sizes.tsx
  apps/docs/src/components/demos/text-field-validation.tsx
  apps/docs/src/components/icon-resolver.tsx
  apps/docs/src/components/mdx.tsx
  apps/docs/src/lib/manual-sources.ts
  apps/docs/src/lib/registry.ts
  apps/docs/src/lib/remark-component-docs.ts
  apps/docs/src/lib/source.ts
  apps/docs/src/routes/__root.tsx
  apps/docs/src/routes/docs/$.tsx
  apps/docs/test/build.test.ts
  apps/docs/test/icons.test.ts
  docs/best-practices/docs-pages.md
  docs/best-practices/registry.md
  docs/research/0002-shadcn-aria-fork.md
  packages/ui/package.json
  packages/ui/registry.json
  packages/ui/src/components/icon-placeholder.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

chore(deps): drop ts-morph and use shadcn's own copy in the icons test
  packages/ui/package.json
  packages/ui/src/components/icons.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint, format

chore(deps): drop ts-morph and use shadcn's own copy in the icons test (#20)
  packages/ui/package.json
  packages/ui/src/components/icons.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: typecheck, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint-md: any of: *.md
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
