Repository oakoss/ui: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint-md, lint, format

typecheck:
  run: pnpm tsc-files {staged_files}

lint-md:
  run: pnpm markdownlint-cli2 --no-globs --fix {staged_files}
  stage_fixed: true

lint:
  run: pnpm lint:fix
  stage_fixed: true

format:
  run: pnpm prettier -uwl {staged_files}
  stage_fixed: true

test(components): skip HoverCard's flaky Long Open Delay story
  apps/storybook/src/overlays/hover-card-props.stories.tsx
Due: typecheck, lint, format

test(components): make overlay stories reliable on CI (#29)
  apps/storybook/src/overlays/hover-card-disabled.stories.tsx
  apps/storybook/src/overlays/hover-card-props.stories.tsx
  apps/storybook/src/overlays/hover-card.stories.tsx
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/src/overlays/tooltip-demo.tsx
  apps/storybook/src/overlays/tooltip.stories.tsx
  apps/storybook/vitest.config.ts
  docs/best-practices/testing.md
  turbo.json
Due: typecheck, lint-md, lint, format

test(components): trace the first hover on each CI test page
  apps/storybook/src/overlays/hover-card-props.stories.tsx
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/src/overlays/tooltip.stories.tsx
  apps/storybook/vitest.config.ts
Due: typecheck, lint, format

test(components): flush the resting pointer before each hover story
  apps/storybook/src/overlays/hover-card-props.stories.tsx
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/src/overlays/tooltip.stories.tsx
  apps/storybook/vitest.config.ts
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

test(components): flush the resting pointer before each hover story (#30)
  apps/storybook/src/overlays/hover-card-props.stories.tsx
  apps/storybook/src/overlays/overlay-test.ts
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

test(components): wait on transitions and shared timeouts in stories
  apps/storybook/src/inputs/button.stories.tsx
  apps/storybook/src/overlays/hover-card-callbacks.stories.tsx
  apps/storybook/src/overlays/hover-card-demo.tsx
Due: typecheck, lint, format

fix(components): close tooltips and hover cards disabled mid-open
  .changeset/overlay-disable-after-warm-open.md
  apps/storybook/src/overlays/hover-card-disabled.stories.tsx
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/src/overlays/tooltip.stories.tsx
  docs/best-practices/testing.md
  packages/ui/src/components/ui/overlays/hover-card.tsx
  packages/ui/src/components/ui/overlays/tooltip.tsx
Due: typecheck, lint-md, lint, format

docs: require the exit override on useOverlayOpen triggers
  docs/best-practices/components.md
Due: lint-md, format

fix(components): close tooltips and hover cards disabled mid-open (#31)
  .changeset/overlay-disable-after-warm-open.md
  apps/storybook/src/inputs/button.stories.tsx
  apps/storybook/src/overlays/hover-card-callbacks.stories.tsx
  apps/storybook/src/overlays/hover-card-demo.tsx
  apps/storybook/src/overlays/hover-card-disabled.stories.tsx
  apps/storybook/src/overlays/overlay-test.ts
  apps/storybook/src/overlays/tooltip.stories.tsx
  docs/best-practices/components.md
  docs/best-practices/testing.md
  packages/ui/src/components/ui/overlays/hover-card.tsx
  packages/ui/src/components/ui/overlays/tooltip.tsx
Due: typecheck, lint-md, lint, format

feat(components): add Separator
  .changeset/surfaces-layout.md
  apps/docs/content/docs/components/separator.mdx
  apps/docs/src/components/demos/separator-demo.tsx
  apps/docs/src/components/demos/separator-vertical.tsx
  apps/storybook/src/layout/separator.stories.tsx
  docs/best-practices/components.md
  packages/ui/registry.json
  packages/ui/src/components/ui/layout/separator.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(components): add Card
  .changeset/surfaces-layout.md
  apps/docs/content/docs/components/card.mdx
  apps/docs/src/components/demos/card-clickable.tsx
  apps/docs/src/components/demos/card-demo.tsx
  apps/docs/src/components/demos/card-small.tsx
  apps/storybook/src/surfaces/card-demo.tsx
  apps/storybook/src/surfaces/card-layout.stories.tsx
  apps/storybook/src/surfaces/card.stories.tsx
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/surfaces/card.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(components): add Skeleton
  .changeset/surfaces-layout.md
  apps/docs/content/docs/components/skeleton.mdx
  apps/docs/src/components/demos/skeleton-demo.tsx
  apps/docs/src/components/demos/skeleton-loading.tsx
  apps/storybook/src/feedback/skeleton.stories.tsx
  packages/ui/registry.json
  packages/ui/src/components/ui/feedback/skeleton.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(components): add Spinner
  .changeset/surfaces-layout.md
  apps/docs/content/docs/components/spinner.mdx
  apps/docs/src/components/demos/spinner-demo.tsx
  apps/docs/src/components/demos/spinner-sizes.tsx
  apps/storybook/src/feedback/spinner.stories.tsx
  packages/ui/registry.json
  packages/ui/src/components/ui/feedback/spinner.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

fix(components): render Spinner for Button's pending state
  .changeset/button-spinner.md
  apps/docs/content/docs/components/button.mdx
  apps/storybook/src/inputs/button-states.stories.tsx
  docs/best-practices/components.md
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/button.tsx
Due: typecheck, lint-md, lint, format

refactor(tests): share the part helper across stories
  apps/storybook/src/parts.ts
  apps/storybook/src/surfaces/card-demo.tsx
  apps/storybook/src/surfaces/card-layout.stories.tsx
  apps/storybook/src/surfaces/card.stories.tsx
Due: typecheck, lint, format

feat(components): add Avatar
  .changeset/surfaces-layout.md
  apps/docs/content/docs/components/avatar.mdx
  apps/docs/src/components/demos/avatar-demo.tsx
  apps/docs/src/components/demos/avatar-fallback.tsx
  apps/docs/src/components/demos/avatar-group.tsx
  apps/storybook/src/data/avatar-demo.tsx
  apps/storybook/src/data/avatar-layout.stories.tsx
  apps/storybook/src/data/avatar-loading.stories.tsx
  apps/storybook/src/data/avatar-photo.svg
  apps/storybook/src/data/avatar-props.stories.tsx
  apps/storybook/src/data/avatar.stories.tsx
  packages/ui/registry.json
  packages/ui/src/components/ui/data/avatar.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(components): add Scroll Area
  .changeset/surfaces-layout.md
  apps/docs/content/docs/components/scroll-area.mdx
  apps/docs/src/components/demos/scroll-area-demo.tsx
  apps/docs/src/components/demos/scroll-area-horizontal.tsx
  apps/storybook/src/layout/scroll-area.stories.tsx
  packages/ui/registry.json
  packages/ui/src/components/ui/layout/scroll-area.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(components): add Kbd
  .changeset/surfaces-layout.md
  apps/docs/content/docs/components/kbd.mdx
  apps/docs/src/components/demos/kbd-demo.tsx
  apps/docs/src/components/demos/kbd-text.tsx
  apps/storybook/src/data/kbd.stories.tsx
  packages/ui/registry.json
  packages/ui/src/components/ui/data/kbd.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

feat(components): add Empty
  .changeset/surfaces-layout.md
  apps/docs/content/docs/components/empty.mdx
  apps/docs/src/components/demos/empty-demo.tsx
  apps/docs/src/components/demos/empty-outline.tsx
  apps/storybook/src/feedback/empty.stories.tsx
  packages/ui/registry.json
  packages/ui/src/components/ui/feedback/empty.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

docs(docs): show a card image and the aspect utilities
  apps/docs/content/docs/components/card.mdx
  apps/docs/src/components/demos/card-image.tsx
Due: typecheck, lint, format

fix(components): treat a whitespace Kbd label as no label
  apps/storybook/src/data/kbd.stories.tsx
  packages/ui/src/components/ui/data/kbd.tsx
Due: typecheck, lint, format

docs(docs): record blank-name and decorative-part conventions
  docs/best-practices/components.md
Due: lint-md, format

test(tests): host stories in our own components
  apps/storybook/src/data/avatar-loading.stories.tsx
  apps/storybook/src/data/avatar-props.stories.tsx
  apps/storybook/src/data/avatar.stories.tsx
  apps/storybook/src/data/kbd.stories.tsx
  docs/best-practices/testing.md
Due: typecheck, lint-md, lint, format

docs(docs): drop the planned Link port from the story rule
  docs/best-practices/testing.md
Due: lint-md, format

fix(components): keep a FieldLabel for another control out of its field
  .changeset/field-label-for.md
  apps/storybook/src/inputs/field.stories.tsx
  packages/ui/src/components/ui/inputs/field.tsx
Due: typecheck, lint-md, lint, format

feat(components): add Field, FieldContent and FieldSeparator
  .changeset/selection-controls.md
  apps/docs/content/docs/components/field.mdx
  apps/docs/src/components/demos/field-orientation.tsx
  apps/docs/src/components/demos/field-separator.tsx
  apps/storybook/src/inputs/field-layout.stories.tsx
  docs/best-practices/components.md
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/field.tsx
Due: typecheck, lint-md, lint, format

refactor(tests): share contrast helpers across stories
  apps/storybook/src/color.ts
  apps/storybook/src/layout/scroll-area.stories.tsx
Due: typecheck, lint, format

feat(components): add Checkbox
  .changeset/selection-controls.md
  apps/docs/content/docs/components/checkbox.mdx
  apps/docs/src/components/demos/checkbox-demo.tsx
  apps/docs/src/components/demos/checkbox-description.tsx
  apps/docs/src/components/demos/checkbox-indeterminate.tsx
  apps/storybook/src/inputs/checkbox-states.stories.tsx
  apps/storybook/src/inputs/checkbox.stories.tsx
  docs/best-practices/components.md
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/checkbox.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

docs(docs): note that Chrome reports a required checkbox as invalid
  apps/docs/content/docs/components/checkbox.mdx
Due: format

feat(components): add RadioGroup
  .changeset/selection-controls.md
  apps/docs/content/docs/components/radio-group.mdx
  apps/docs/src/components/demos/radio-group-card.tsx
  apps/docs/src/components/demos/radio-group-demo.tsx
  apps/docs/src/components/demos/radio-group-horizontal.tsx
  apps/storybook/src/inputs/radio-group-states.stories.tsx
  apps/storybook/src/inputs/radio-group.stories.tsx
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/radio-group.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

fix(components): underline links nested in descriptions
  .changeset/description-links.md
  apps/storybook/src/feedback/empty.stories.tsx
  apps/storybook/src/inputs/field.stories.tsx
  apps/storybook/src/overlays/dialog-layout.stories.tsx
  packages/ui/src/components/ui/feedback/empty.tsx
  packages/ui/src/components/ui/inputs/field.tsx
  packages/ui/src/components/ui/overlays/dialog.tsx
Due: typecheck, lint-md, lint, format

feat(components): add Switch
  .changeset/selection-controls.md
  apps/docs/content/docs/components/switch.mdx
  apps/docs/src/components/demos/switch-demo.tsx
  apps/docs/src/components/demos/switch-settings.tsx
  apps/docs/src/components/demos/switch-sizes.tsx
  apps/storybook/src/inputs/switch-states.stories.tsx
  apps/storybook/src/inputs/switch.stories.tsx
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/switch.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

fix(components): share one empty-children check across fields
  .changeset/empty-children.md
  apps/storybook/src/inputs/field.stories.tsx
  apps/storybook/src/inputs/switch.stories.tsx
  packages/ui/src/components/ui/inputs/checkbox.tsx
  packages/ui/src/components/ui/inputs/field.test.ts
  packages/ui/src/components/ui/inputs/field.tsx
  packages/ui/src/components/ui/inputs/radio-group.tsx
  packages/ui/src/components/ui/inputs/switch.tsx
  packages/ui/src/components/ui/inputs/text-field.tsx
Due: typecheck, lint-md, lint, format

feat(components): add Slider
  .changeset/selection-controls.md
  apps/docs/content/docs/components/slider.mdx
  apps/docs/src/components/demos/slider-composed.tsx
  apps/docs/src/components/demos/slider-demo.tsx
  apps/docs/src/components/demos/slider-range.tsx
  apps/docs/src/components/demos/slider-vertical.tsx
  apps/storybook/src/inputs/slider-description.stories.tsx
  apps/storybook/src/inputs/slider-states.stories.tsx
  apps/storybook/src/inputs/slider.stories.tsx
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/slider.test.ts
  packages/ui/src/components/ui/inputs/slider.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

docs: record the Slider port's conventions
  apps/docs/content/docs/components/slider.mdx
  docs/best-practices/components.md
  docs/best-practices/testing.md
Due: lint-md, format

feat(components): add Toggle and ToggleGroup
  .changeset/selection-controls.md
  apps/docs/content/docs/components/toggle-group.mdx
  apps/docs/content/docs/components/toggle.mdx
  apps/docs/src/components/demos/toggle-demo.tsx
  apps/docs/src/components/demos/toggle-group-demo.tsx
  apps/docs/src/components/demos/toggle-group-joined.tsx
  apps/docs/src/components/demos/toggle-group-multiple.tsx
  apps/docs/src/components/demos/toggle-sizes.tsx
  apps/storybook/src/inputs/toggle-group-states.stories.tsx
  apps/storybook/src/inputs/toggle-group.stories.tsx
  apps/storybook/src/inputs/toggle.stories.tsx
  docs/best-practices/testing.md
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/button.tsx
  packages/ui/src/components/ui/inputs/toggle-group.tsx
  packages/ui/src/components/ui/inputs/toggle.test.ts
  packages/ui/src/components/ui/inputs/toggle.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

fix(tests): blend translucent colors when measuring contrast
  apps/storybook/src/color.stories.tsx
  apps/storybook/src/color.ts
  apps/storybook/src/inputs/toggle.stories.tsx
Due: typecheck, lint, format

feat(components): add Accordion and Collapsible
  .changeset/navigation-disclosure.md
  apps/docs/content/docs/components/accordion.mdx
  apps/docs/content/docs/components/collapsible.mdx
  apps/docs/src/components/demos/accordion-demo.tsx
  apps/docs/src/components/demos/accordion-multiple.tsx
  apps/docs/src/components/demos/collapsible-demo.tsx
  apps/docs/src/components/demos/collapsible-open.tsx
  apps/storybook/src/layout/accordion-states.stories.tsx
  apps/storybook/src/layout/accordion.stories.tsx
  apps/storybook/src/layout/collapsible.stories.tsx
  docs/best-practices/components.md
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/layout/accordion.tsx
  packages/ui/src/components/ui/layout/collapsible.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint-md: any of: *.md
  lint: any of: *.{ts,tsx,js,jsx,cjs,mjs}, but not: **/*.gen.ts
  format: any of: *.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}
