Repository oakoss/ui: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint-md, lint, format

lefthook.yml:

# lefthook.yml
output:
  - failure # Only show failed steps
  - execution_out # Show command output for failures

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: pnpm tsc-files {staged_files}
    lint-md:
      glob: '*.md'
      run: pnpm markdownlint-cli2 --no-globs --fix {staged_files}
      stage_fixed: true
    lint:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs}'
      exclude:
        - '**/*.gen.ts'
      run: pnpm lint:fix
      stage_fixed: true
    format:
      glob: '*.{ts,tsx,js,jsx,cjs,mjs,json,md,mdx}'
      run: pnpm prettier -uwl {staged_files}
      stage_fixed: true

commit-msg:
  commands:
    commitlint:
      run: pnpm commitlint --edit "$1"

feat(components): add Tabs
  .changeset/navigation-disclosure.md
  apps/docs/content/docs/components/tabs.mdx
  apps/docs/src/components/demos/tabs-demo.tsx
  apps/docs/src/components/demos/tabs-line.tsx
  apps/docs/src/components/demos/tabs-vertical.tsx
  apps/storybook/eslint.config.js
  apps/storybook/src/navigation/tabs-states.stories.tsx
  apps/storybook/src/navigation/tabs.stories.tsx
  apps/storybook/src/paint.ts
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/navigation/tabs.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

fix(components): keep a selected toggle's label visible in forced colors
  .changeset/toggle-forced-label.md
  apps/storybook/src/inputs/toggle.stories.tsx
  packages/ui/src/components/ui/inputs/toggle.tsx
Due: typecheck, lint-md, lint, format

docs: record the forced-colors label rule and paintedColor
  docs/best-practices/components.md
  docs/best-practices/testing.md
Due: lint-md, format

feat(components): add Breadcrumb
  .changeset/navigation-disclosure.md
  apps/docs/content/docs/components/breadcrumb.mdx
  apps/docs/src/components/demos/breadcrumb-demo.tsx
  apps/docs/src/components/demos/breadcrumb-ellipsis.tsx
  apps/storybook/eslint.config.js
  apps/storybook/src/navigation/breadcrumb-states.stories.tsx
  apps/storybook/src/navigation/breadcrumb.stories.tsx
  apps/storybook/src/viewport.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/navigation/breadcrumb.test.ts
  packages/ui/src/components/ui/navigation/breadcrumb.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

docs: record conventions from the Breadcrumb review
  docs/best-practices/components.md
  docs/best-practices/testing.md
Due: lint-md, format

fix(components): make the current breadcrumb semibold
  .changeset/navigation-disclosure.md
  apps/docs/content/docs/components/breadcrumb.mdx
  apps/storybook/src/navigation/breadcrumb-states.stories.tsx
  packages/ui/src/components/ui/navigation/breadcrumb.tsx
Due: typecheck, lint-md, lint, format

fix(components): gray disabled buttons and link-buttons in forced colors
  .changeset/disabled-forced-gray.md
  apps/docs/content/docs/components/button.mdx
  apps/docs/content/docs/components/toggle.mdx
  apps/storybook/src/inputs/button-states.stories.tsx
  apps/storybook/src/inputs/toggle.stories.tsx
  packages/ui/oxlint.config.ts
  packages/ui/src/components/ui/inputs/button.tsx
  packages/ui/src/components/ui/inputs/toggle-group.tsx
  packages/ui/src/components/ui/inputs/toggle.tsx
Due: typecheck, lint-md, lint, format

feat(components): add Pagination
  .changeset/navigation-disclosure.md
  apps/docs/content/docs/components/pagination.mdx
  apps/docs/src/components/demos/pagination-demo.tsx
  apps/docs/src/components/demos/pagination-disabled.tsx
  apps/storybook/src/navigation/pagination-states.stories.tsx
  apps/storybook/src/navigation/pagination.stories.tsx
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/navigation/pagination.test.ts
  packages/ui/src/components/ui/navigation/pagination.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

docs: record conventions from the Button and Pagination reviews
  docs/best-practices/components.md
  docs/best-practices/testing.md
Due: lint-md, format

fix(components): share joining as a recipe, keeping pressed toggles in place
  .changeset/joined-recipe.md
  apps/storybook/src/inputs/toggle-group.stories.tsx
  docs/best-practices/components.md
  packages/ui/src/components/ui/inputs/toggle-group.tsx
  packages/ui/src/lib/recipes.ts
Due: typecheck, lint-md, lint, format

feat(components): add ButtonGroup
  .changeset/navigation-disclosure.md
  apps/docs/content/docs/components/button-group.mdx
  apps/docs/src/components/demos/button-group-demo.tsx
  apps/docs/src/components/demos/button-group-input.tsx
  apps/docs/src/components/demos/button-group-vertical.tsx
  apps/storybook/eslint.config.js
  apps/storybook/src/inputs/button-group-states.stories.tsx
  apps/storybook/src/inputs/button-group.stories.tsx
  apps/storybook/src/press.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/button-group.test.ts
  packages/ui/src/components/ui/inputs/button-group.tsx
  packages/ui/src/components/ui/inputs/button.tsx
  packages/ui/src/components/ui/overlays/dialog.tsx
  packages/ui/src/components/ui/overlays/popover.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

docs: record conventions from the ButtonGroup review
  docs/best-practices/components.md
  docs/best-practices/testing.md
Due: lint-md, format

feat(components): add Item
  .changeset/navigation-disclosure.md
  apps/docs/content/docs/components/item.mdx
  apps/docs/src/components/demos/item-demo.tsx
  apps/docs/src/components/demos/item-group.tsx
  apps/docs/src/components/demos/item-link.tsx
  apps/storybook/src/data/item-links.stories.tsx
  apps/storybook/src/data/item-states.stories.tsx
  apps/storybook/src/data/item.stories.tsx
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/data/item.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

docs: record the membership-context rule and Item's routing
  .changeset/navigation-disclosure.md
  docs/best-practices/components.md
Due: lint-md, format

feat(components): add Textarea
  .changeset/text-inputs.md
  apps/docs/content/docs/components/text-field.mdx
  apps/docs/content/docs/components/textarea.mdx
  apps/docs/src/components/demos/textarea-custom-layout.tsx
  apps/docs/src/components/demos/textarea-demo.tsx
  apps/docs/src/components/demos/textarea-fixed.tsx
  apps/docs/src/components/demos/textarea-rows.tsx
  apps/storybook/src/inputs/textarea-sizing.stories.tsx
  apps/storybook/src/inputs/textarea.stories.tsx
  docs/best-practices/components.md
  packages/ui/oxlint.config.ts
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/field.tsx
  packages/ui/src/components/ui/inputs/text-field.test.ts
  packages/ui/src/components/ui/inputs/text-field.tsx
  packages/ui/src/components/ui/inputs/textarea.tsx
  packages/ui/src/lib/recipes.ts
Due: typecheck, lint-md, lint, format

refactor(components): move Input to its own file
  .changeset/text-inputs.md
  apps/docs/content/docs/components/field.mdx
  apps/docs/src/components/demos/button-group-input.tsx
  apps/docs/src/components/demos/contextual-help-field.tsx
  apps/docs/src/components/demos/field-demo.tsx
  apps/docs/src/components/demos/field-errors.tsx
  apps/docs/src/components/demos/field-input-sizes.tsx
  apps/docs/src/components/demos/field-orientation.tsx
  apps/docs/src/components/demos/localization-demo.tsx
  apps/docs/src/components/demos/text-field-custom-layout.tsx
  apps/storybook/src/inputs/button-group.stories.tsx
  apps/storybook/src/inputs/field-layout.stories.tsx
  apps/storybook/src/inputs/field.stories.tsx
  apps/storybook/src/layout/accordion.stories.tsx
  apps/storybook/src/layout/collapsible.stories.tsx
  apps/storybook/src/overlays/contextual-help.stories.tsx
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/field.tsx
  packages/ui/src/components/ui/inputs/input.tsx
  packages/ui/src/components/ui/inputs/text-field.test.ts
  packages/ui/src/components/ui/inputs/text-field.tsx
  packages/ui/src/components/ui/inputs/textarea.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format

refactor(components): share the field layout and props-or-children type
  apps/storybook/src/inputs/radio-group.stories.tsx
  packages/ui/src/components/ui/inputs/field.tsx
  packages/ui/src/components/ui/inputs/radio-group.tsx
  packages/ui/src/components/ui/inputs/slider.tsx
  packages/ui/src/components/ui/inputs/text-field.tsx
Due: typecheck, lint, format

feat(components): add InputGroup
  .changeset/text-inputs.md
  apps/docs/content/docs/components/button-group.mdx
  apps/docs/content/docs/components/input-group.mdx
  apps/docs/content/docs/components/text-field.mdx
  apps/docs/content/docs/components/textarea.mdx
  apps/docs/src/components/demos/input-group-demo.tsx
  apps/docs/src/components/demos/input-group-textarea.tsx
  apps/docs/src/components/demos/text-field-decorations.tsx
  apps/storybook/src/inputs/input-group-states.stories.tsx
  apps/storybook/src/inputs/input-group.stories.tsx
  apps/storybook/src/inputs/text-field-decorations.stories.tsx
  docs/best-practices/components.md
  packages/ui/registry.json
  packages/ui/src/components/ui/inputs/input-group.tsx
  packages/ui/src/components/ui/inputs/text-field.test.ts
  packages/ui/src/components/ui/inputs/text-field.tsx
  packages/ui/src/registry.test.ts
Due: typecheck, lint-md, lint, format
